@font-face {
  font-family: 'icomoon';
  src:  url('http://d2af878iapskze.cloudfront.net/fonts/icomoon/fonts/icomoon.eot?a0qxzn');
  src:  url('http://d2af878iapskze.cloudfront.net/fonts/icomoon/fonts/icomoon.eot?a0qxzn#iefix') format('embedded-opentype'),
    url('http://d2af878iapskze.cloudfront.net/fonts/icomoon/fonts/icomoon.ttf?a0qxzn') format('truetype'),
    url('http://d2af878iapskze.cloudfront.net/fonts/icomoon/fonts/icomoon.woff?a0qxzn') format('woff'),
    url('http://d2af878iapskze.cloudfront.net/fonts/icomoon/fonts/icomoon.svg?a0qxzn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-menu-x:before {
  content: "\e90d";
}
.icon-close-menu-arrow:before {
  content: "\e90c";
}
.icon-gears:before {
  content: "\e90a";
}
.icon-personalize:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e909";
}
.icon-cart:before {
  content: "\e904";
}
.icon-help:before {
  content: "\e905";
}
.icon-locator:before {
  content: "\e906";
}
.icon-login:before {
  content: "\e907";
}
.icon-ap-thin-arrow:before {
  content: "\e903";
}
.icon-close:before {
  content: "\ea0f";
}
.icon-ap-arrow-up:before {
  content: "\e900";
}
.icon-ap-plus:before {
  content: "\e901";
}
.icon-ap-3-line-rule:before {
  content: "\e902";
}
